.comment {
	display: flex;
	margin-bottom: 15px;
	margin-left: 50px;
	// .comment__picture

	&__picture {
		width: 30px;
		height: 30px;
		background: #fff;
		border-radius: 50%;
		margin-right: 10px;
	}

	// .comment__data

	&__data {
		padding: 8px;
		border-radius: 10px;
		background: #d4d4dc;
		color: #1d1e22;
	}

	// .comment__author

	&__author {
		margin-bottom: 5px;
		letter-spacing: 2px;
	}

}
